<?php
// Organization Name
$orgname = "Organization Name";
$slogan = "Slogan";

//MySQL-Server Settings
$mysqlhost = "localhost";
$mysqluser = "__USER__";
$mysqlpass = "__PASS__";
$mysqldb = "__DATABASE__";

// Chosen language will be used as standard
$standardlanguage = "de";

// DO NOT CHANGE THE LINES BELOW
function getlang($standlang = "en", $fromlogin = false)
{
  if(isset($_COOKIE["language"]))
  {
    return $_COOKIE["language"];
  }
else {
    $language = $standlang;
    return $language;
  }
}
$language = getlang($standardlanguage);
?>
