body{
	font-family: Verdana;
}

#chkbxc {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}
.logout{
	width: 10%;
	position: fixed;
	right: 1%;
	border-color: black;
	border-style: double;
	text-align: center;
	background: darkblue;
}

.logout a{
	color: white;
}

.news p{
	direction: ltr;
	text-align: left;
}

footer{
	width: 100%;
}

footer p{
	width: 30%;
	margin-left: 60%;
	margin-right: 10%;
}

.usersettings{
	/*padding-left: 5%;*/
	padding-right: 5%;
	padding-top: 4%;
}

.settingframe{
	padding: 3%;
	width: auto;
	border-style: solid;
	margin-right: 2%;
	display: inline-grid;
}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 100%;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}
/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }
